{% extends "page_skeleton.html" %}

{% block title %}Changelog{% endblock %}

{% block content %}
<h1>SMIRC Changelog</h1>

<div class="changelog">
	<h2>2011-01-05</h2>
	<p>
		Updated <a href="http://smstools3.kekekasvi.com/">SMSTools</a> to the newest version and needed to make a number of tweaks to SMIRC
		so that everything stayed working.  The new version of <a href="http://smstools3.kekekasvi.com/">SMSTools</a> should provide better
		notifications for when the GSM modem drops off-line.  Also spent a little bit more time hardening SMIRC in general against unexpected
		exceptions; should improve reliability a little more.
	</p>
	<p>
		Fixed a bug in the "new user" message that was supposed to go out to unknown phone numbers that sent a message to SMIRC.  It wasn't
		being sent out correctly, but now that has been fixed and unregistered users that send texts to SMIRC should receive it properly.
	</p>
</div>

<div class="changelog">
	<h2>2010-09-20</h2>
	<p>
		SMIRC was offline for a little bit because of issues dealing with character encoding (specifically, it didn't deal well with characters
		that go beyond the latin-1 character set).  It's back online now, and extended characters that push SMS messages beyond the latin-1
		character set should work without incident now (i.e. characters like &acirc;).
	</p>
	<p>
		At the same time I tweaked SMIRC to harden it against errors of this type; so that in the future if it encounters a similar issue it
		may drop the one problematic message, but the overall service won't be affected.
	</p>
</div>

{% endblock %}
