{% extends "page_skeleton.html" %}

{% block header %}
	<style type="text/css">
		div.command
		{
			border: 1px solid;
			margin: 10px;
			padding: 5px;
		}
		
		div.command h1
		{
			margin: 0px;
			padding: 0px;
		}
		
		div.command div.usage
		{
		
		}
		
		div.command div.description
		{
		
		}
		
		div.command div.example
		{
			border: 1px dashed;
			margin-top: 10px;
		}
	</style>
{% endblock header %}

{% block content %}
	{% for i in command_usage_list %}
		<div class="command">
			<h1>{{ i.command }}</h1>
			<div class="usage">Usage: <code>{{ i.usage }}</code></div>
			<div class="description">{{ i.description }}</div>
			{% for j in i.examples %}
				<div class="example">
					Example: <code>{{ j.0 }}</code><br>
					{{ j.1 }}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
