{% extends "page_skeleton.html" %}

{% block header %}
<style type="text/css">
div#create_account
{
	width: 11.0em;
}
</style>
{% endblock %}

{% block content %}

{% comment %}
<!-- IF user is not logged in... -->
<form>
	<div class="form_container" id="create_account">
		<div class="form_element">
			<div class="form_label"><label for="phone_number">Phone Number</label></div>
			<div class="form_input"><input name="phone_number" type="text" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="username">Username</label></div>
			<div class="form_input"><input name="username" type="text" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="password">Password</label></div>
			<div class="form_input"><input name="password" type="password" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="password_repeated">Password (Repeated)</label></div>
			<div class="form_input"><input name="password_repeated" type="password" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_input submit"><input type="submit" value="Create Account" /></div>
		</div>
	</div>
</form>
<!-- END IF -->
{% endcomment %}

SMIRC

<h1>What is SMIRC?</h1>
<p>
	SMIRC (Short Message Internet Relay Chat) is a fusion of <a href="http://en.wikipedia.org/wiki/Short_Message_Service">Short Message Service</a>
	(also known as "SMS" or "texting" to most any user of a cellphone) and <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">Internet Relay Chat</a>.
	A typical SMS (text message) sent from a phone is targeted to a single recipient and although phones are getting smarter and better able to send
	multi-recipient text messages the ability to have a multi-person conversation (as is common in e-mail) is still largely missing.  SMIRC's goal is
	to expose this functionality to it's users, so that they are able to quickly and easily have multi-recipient conversations.  On SMIRC, therefore,
	a message is targeted at a <i>room of people</i>, rather than at <i>a person</i>.
</p>

<h1>How does it work?  What does it look like?</h1>
<p>
	An example of how SMIRC can work: let's assume that there are three friends (we'll call them Zim, Gir, and Tallest) who want to have conversations
	through text messaging.  Typically, each of them would need to make very sure that they always listed all of the recipients for each text message
	that they sent... and if Gir (for example) hit "reply" to a text message from Zim and forgot to add Tallest as a recipient, then only Zim would receive
	the message and Tallest might be out of the loop.  Of course the Tallest won't stand for this, so all three join SMIRC and find that it
	can make things easier:
	
	<table>
		<thead>
			<tr>
				<th>Zim</th>
				<th>Gir</th>
				<th>Tallest</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>To: SMIRC<br>
				/NICK Zim</td>
				<td>To: SMIRC<br>
				/NICK Gir</td>
				<td>To: SMIRC<br>
				/NICK Tallest</td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td>From: SMIRC<br>
				SMIRC: your nickname has been changed to Zim</td>
				<td>From: SMIRC<br>
				SMIRC: your nickname has been changed to Gir</td>
				<td>From: SMIRC<br>
				SMIRC: your nickname has been changed to Tallest</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>To: SMIRC<br>
				/CREATE OID2</td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td></td>
				<td></td>
				<td>From: SMIRC<br>
				SMIRC: you have created a conversation named "OID2"</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>To: SMIRC<br>
				/INVITE Zim to OID2</td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td>From: SMIRC<br>
				SMIRC: you have been invited to the conversation "OID2" by Tallest.  Respond with "/JOIN Tallest in OID2" to accept the invitation.</td>
				<td></td>
				<td>From: SMIRC<br>
				SMIRC: Zim has been invited to the conversation named "OID2"</td>
			</tr>
			<tr>
				<td>To: SMIRC<br>
				/JOIN Tallest in OID2</td>
				<td></td>
				<td>To: SMIRC<br>
				/INVITE Gir to OID2</td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td>From: SMIRC<br>
				SMIRC: you have joined the conversation named "OID2"</td>
				<td>From: SMIRC<br>
				SMIRC: you have been invited to the conversation "OID2" by Tallest.  Respond with "/JOIN Tallest in OID2" to accept the invitation.</td>
				<td>From: SMIRC<br>
				SMIRC: Gir has been invited to the conversation named "OID2"</td>
			</tr>
			<tr>
				<td></td>
				<td>To: SMIRC<br>
				/JOIN Tallest in OID2</td>
				<td></td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td></td>
				<td>From: SMIRC<br>
				SMIRC: you have joined the conversation named "OID2"</td>
				<td></td>
			</tr>
			<tr>
				<td>To: SMIRC<br>
				@OID2 Come, GIR. Let us rain some doom down upon the heads of our doomed enemies.</td>
				<td></td>
				<td></td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td></td>
				<td>From: SMIRC<br>
				Zim@OID2: Come, GIR. Let us rain some doom down upon the heads of our doomed enemies.</td>		
				<td>From: SMIRC<br>
				Zim@OID2: Come, GIR. Let us rain some doom down upon the heads of our doomed enemies.</td>
			</tr>
			<tr>
				<td></td>
				<td>To: SMIRC<br>
				I'm gonna sing the Doom Song now.</td>
				<td></td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td>From: SMIRC<br>
				Gir@OID2: I'm gonna sing the Doom Song now.</td>
				<td></td>
				<td>From: SMIRC<br>
				Gir@OID2: I'm gonna sing the Doom Song now.</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>To: SMIRC<br>
				Fire some kinda laser... thingie at 'em; RIGHT NOW!</td>
			</tr>
			<tr style="border-bottom: 2px solid;">
				<td>From: SMIRC<br>
				Tallest@OID2: Fire some kinda laser... thingie at 'em; RIGHT NOW!</td>
				<td>From: SMIRC<br>
				Tallest@OID2: Fire some kinda laser... thingie at 'em; RIGHT NOW!</td>
				<td></td>
			</tr>			
		</tbody>
	</table>
</p>
{% endblock %}
