{% extends "page_skeleton.html" %}

{% block header %}
<style type="text/css">
div#create_account
{
	width: 11.0em;
}

div#alpha_warning
{
	background: #ffcccc;
	border: 2px solid;
	color: #990000;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}
</style>
{% endblock %}

{% block content %}

{% comment %}
<!-- IF user is not logged in... -->
<form>
	<div class="form_container" id="create_account">
		<div class="form_element">
			<div class="form_label"><label for="phone_number">Phone Number</label></div>
			<div class="form_input"><input name="phone_number" type="text" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="username">Username</label></div>
			<div class="form_input"><input name="username" type="text" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="password">Password</label></div>
			<div class="form_input"><input name="password" type="password" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_label"><label for="password_repeated">Password (Repeated)</label></div>
			<div class="form_input"><input name="password_repeated" type="password" size="24" /></div>
		</div>
		<div class="form_element">
			<div class="form_input submit"><input type="submit" value="Create Account" /></div>
		</div>
	</div>
</form>
<!-- END IF -->
{% endcomment %}

<div id="alpha_warning">
	Please note that at present, SMIRC is still in the early stages of development.  Though it is open for
	general use, it is rather unstable.  You are free to use it as you like, but please note that due to it's
	instability no guarantees are offered or implied -- particularly as to the deliverability of messages sent
	to it.
</div>

<h1>What is SMIRC?</h1>
<p>
	SMIRC (Short Message Internet Relay Chat) is a fusion of <a href="http://en.wikipedia.org/wiki/Short_Message_Service">Short Message Service</a>
	(also known as "SMS" or "texting" to most any user of a cellphone) and <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">Internet Relay Chat</a>.
	A typical SMS (text message) sent from a phone is targeted to a single recipient and although phones are getting smarter and better able to send
	multi-recipient text messages the ability to have a multi-person conversation (as is common in e-mail) is still largely missing.  SMIRC's goal is
	to expose this functionality to it's users, so that they are able to quickly and easily have multi-recipient conversations.  On SMIRC, therefore,
	a message is targeted at <i>a conversation</i>, rather than at <i>a person</i>.
</p>

<h1>How does it work?</h1>
<p>
	SMIRC works by receiving messages on a phone number (currently SMIRC is available in Canada only, at the phone number 780-729-1450) and then
	relaying them (copying them) to all of the people in the target conversation.  As a simple example of how this works in practice, assuming that there are three
	friends (we'll call them "Zim", "Gir", and "Tallest") who are all in the SMIRC conversation "OID2" together:
	
	<ol>
		<li>
			Zim sends a text message to SMIRC:
			<code>@OID2 Come, GIR.  Let us rain some doom down upon the heads of our doomed enemies.</code>
		</li>
		<li>
			Upon receipt of the message, SMIRC determines that it is targeted at the conversation "OID2" (which Zim is a member of), and then
			forwards it to all the other participants of that conversation (in this case, Gir and Tallest).
		</li>
		<li>
			Gir and Tallest both receive a text message from SMIRC:
			<code>Zim@OID2: Come, GIR.  Let us rain some doom down upon the heads of our doomed enemies.</code>
		</li>
		<li>
			Gir responds to Zim's text message, sending a text message to SMIRC:
			<code>@OID2 I'm gonna sing the Doom Song now.</code>
		</li>
		<li>
			Again, SMIRC copies to message to the other participants, resulting in Zim and Tallest both receiving a text message from SMIRC:
			<code>Gir@OID2: I'm gonna sing the Doom Song now.</code>
		</li>
	</ol>
</p>

<h1>Enough blather you unpleasant cretin!  How do I join?</h1>
<p>
	Follow the <a href="/help/">SMIRC Quickstart</a> guide.
</p>

{% endblock %}
